/* * {
    /* border: 1px solid coral; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 18px; */
/* } */ 
/* 
.target-text {
    font-weight: 900;
}

fieldset {
    margin-bottom: 8px;
} */

#container3d canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top:50%;
    left:50%;

}
.input-contain{
    position: relative;
}
.input1 {
    height: 2.0rem;
    width: 12rem;
    border: 1.3px solid black;
    border-radius: 0.4em;
    background-color: #f0f0f0;

}

.placeholder-text1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 20;
}

.placeholder-text1 {
    pointer-events: none;
}

.text1 {
    font-size: 0.7rem;
    padding: 0.2rem;
    color: black;
    background-color: #f0f0f0;

}

.input1, .placeholder-text1 {
    font-size: 0.7rem;
    padding: 0 1.2rem;
}

.input1:focus{
    outline: none;
    border-color: #9da7a6;
}

.input1:focus + .placeholder-text1 .text1{
    background-color: #f0f0f0;
    font-size: 0.7rem;
    color: black;
    transform: translate(0, -60%);
    border-color: #9da7a6;
    color: #9da7a6;
}

.text1 {
    transform: translate(0);
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}




.input2 {
    height: 4.0rem;
    width: 20rem;
    border: 1.5px solid black;
    border-radius: 1em;
    background-color: #f0f0f0;

}

.placeholder-text2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 20;
}

.placeholder-text2 {
    pointer-events: none;
}

.text2 {
    font-size: 1rem;
    padding: 0.2rem;
    color: black;
    background-color: #f0f0f0;

}

.input2, .placeholder-text2 {
    font-size: 1rem;
    padding: 0 1.2rem;
}

.input2:focus{
    outline: none;
    border-color: #9da7a6;
}

.input2:focus + .placeholder-text2 .text2{
    background-color: #f0f0f0;
    font-size: 0.7rem;
    color: black;
    transform: translate(0, -170%);
    border-color: #9da7a6;
    color: #9da7a6;
}

.text2 {
    transform: translate(0);
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 30px;
    letter-spacing: .05em;
  }


  .imageScroll .imagePlaceholder {
    transition: opacity 0.2s ease-in-out;
  }
  
  .imageScroll .imagePlaceholder.hidden {
    opacity: 0;
    pointer-events: none;
  }



body {
    margin:0;
    min-height: 100%;
    background-color: #f0f0f0;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
    font-family: 'Neue Montreal', sans-serif;
    letter-spacing: .05em;
    color: #000;
    font-size: 16px;
    line-height: 1.1;
    overflow-x: visible;
}

h1 {
    font-size: .8em;
    font-weight: 550;
    letter-spacing: .03em;
}

h2 {
    font-size: 2em;
    font-weight: 550;
    letter-spacing: .03em;
    margin: 0;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: .03em;
    margin-top: 3px;
    margin-bottom: 15px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 1.1em
}

a {
    background-color: transparent;
    font-family: 'Neue Montreal', sans-serif;
    color: #000;
    font-size: 1em;
    text-decoration: none;
}

.smallText1 {
    margin-top: 50px;
    margin-left: 50px;
    position: fixed;
}

.API {
    position: fixed;
    top: 60px;
    left: 20%;
    font-size: smaller;
    line-height: 1.7em;
    z-index: 99999;
}

.InputPrompt {
    margin-top: 15%;
    margin-left: 50px;
    position: fixed;
    margin-bottom: 0;
    z-index: 99999;
}

.status {
    margin-top: 33%;
    margin-left: 50px;
    position: fixed;
    font-size: 0.67em;
    color:rgb(255, 0, 0);
}

img {
    max-height: 100%; /* Makes the image fit the container's height */
    /* max-width: 100%; */
    border-radius: 1em;
    justify-content: center;
}

.imagePlaceholder{
    position: absolute;
    top: 35%;
    left: 72%;
    height: 30vh;
}

.imagePlaceholder1{
    position: absolute;
    top: 35%;
    left: 85%;
    height: 30vh;
}

.imagePlaceholder2{
    position: absolute;
    top: 35%;
    left: 98%;
    height: 30vh;
    overflow: visible;
    z-index: 9999;
}

.ModelContainer {
    margin-left: 35%;
    width: 30%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.imageText {
    font-family: 'Neue Montreal', sans-serif;
    font-size: 0.7em;
    position: fixed;
    font-weight: 350;
    top: 30%;
    left: 72%;
}



.verticalText1a {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: .7em;
    font-weight: 500;
    letter-spacing: .04em;
    position: fixed;
    margin-top: 42.5%;
    margin-left: 87.2%;
    
}

.verticalText1b {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: .7em;
    font-weight: 500;
    letter-spacing: .04em;
    position: fixed;
    margin-top: 48.9%;
    margin-left: 87.7%;
    
}

.verticalText2 {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 18em;
    font-weight: 400;
    letter-spacing: .04em;
    position: fixed;
    color:rgb(255, 255, 255);
    margin-left: 620px;
    margin-bottom: 285px;
    font-family: 'Pixelated'; 
    font-weight: 900;
    letter-spacing: 0;
}

.verticalText3 {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 15em;
    font-weight: 400;
    letter-spacing: .04em;
    position: fixed;
    color:rgb(255, 255, 255);
    font-family:  'Pixelated'; 
    font-weight: 900;
    letter-spacing: 0;
    margin-top: 250px;

}

.by {
    position: fixed;
    margin-top: 42%;
    margin-left: 50px;
}

.description{
    position: fixed;
    font-size: .7em;
    margin-top: 44%;
    margin-left: 50px;
}

.bar {
    margin-left: 95vw;
    width: 20px;
    height: 100vh;
    position: fixed;
    
    align-items: center;
    justify-content: center;
}

.line1 {
    border-top: 1px solid rgb(175, 175, 175);
    width: 507px; /* Set the width of the line as required */
    margin-top: 8%;
    margin-left: 50px;
    position: fixed;
}

.line2 {
    margin-left: 96vw;
    border-left: 1.5px solid rgb(0, 0, 0);
    height: 40px; /* Set the height of the line as required */
    position: fixed;
    margin-top: 45%;
    margin-left: 88%;
}

.box1 {
    position: fixed;
    top: 8%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 50px; /* Set the desired width of the container */
    height: 100px; /* Set the desired height of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
  
.box1 p {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: .7em;
    font-weight: 200;
    letter-spacing: .04em;
    position: fixed;
    color:rgb(0, 0, 0);
   
}

.mit {
    position: fixed;
    margin-top: 60px;
    margin-left: 92vw;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

.date {
    position: fixed;
    margin-top: 60px;
    margin-left: 87vw;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

.title {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 60px; /* Set the desired width of the container */
    height: 300px; /* Set the desired height of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.box3 {
    position: fixed;
    top: 95%;
    left: 99%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 50px; /* Set the desired width of the container */
    height: 100px; /* Set the desired height of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}




